.App {
  display: flex;
  align-items: center;
  justify-content: center;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style: none;
  padding-inline-start: 0;
  padding-top: 170px;

  @media (max-width: 650px) {
    padding-top: 320px;
  }
}

.filter {
  display: flex;
  gap: 10px;

  @media (max-width: 650px) {
    flex-direction: column;
    gap: 0px;
  }
}

.spinner {
  padding-top: 340px;

  @media (max-width: 650px) {
    padding-top: 420px;
  }
}
